@media screen and (max-width: 1440px) {
    .statistics-item {
        width: 50% !important;
    }

    .statistics-text {
        text-align: center;
    }

    .info-board {
        width: 100% !important;
    }

    .recent-session-tab {
        display: none;
    }

    .recent-session-tab-mobile {
        display: block !important;
    }

    .tab-card {
        .n-card__content {
            padding: 0px !important;
        }
    }

    .tab-card-tab {
        .n-tabs-nav {
            padding-top: 20px;
            padding-left: 24px;
            padding-right: 24px;
        }
        .n-data-table-th {
            padding-left: 24px !important;
        }
        .n-data-table-td {
            padding-left: 24px !important;
        }
        .n-data-table-table {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .ranking-board {
        width: 100% !important;
    }

    .leave-height-inner {
        text-align: center !important;
        .statu-servers-content {
            width: 100% !important;
        }
    }

    .statu-servers-content-event {
        text-align: center;
    }

    .statu-title {
        text-align: center !important;
    }

    .card-title-container-s {
        text-align: center !important;
    }

    .laps-board {
        text-align: center !important;
    }
}

@media screen and (max-width: 768px) {
    .container-card {
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .flex-card {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .statistics-item {
        width: 100% !important;
    }

    .statistics-text {
        text-align: right;
    }
}

.card-online-server {
    width: 60%;
    display: flex;
}

.join-us-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4px;
}

.statistics-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.statistics-icon {
    font-size: 24px;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics-content {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics-item {
    align-items: center;
    display: flex;
    margin-top: 12px;
    width: 25%;
}

.statistics-text {
    padding-left: 12px;
    flex: 1;
}

.statistics-text-count {
    font-size: 20px;
    font-weight: bold;
    color: #5e5873;
    line-height: 24px;
}

.statistics-text-type {
    font-size: 12px;
}

// .ranking-board {
//     width: 100%;
// }

.info-board {
    width: 40%;
    display: flex;
    flex-direction: column;
    // align-items: stretch !important;
    // align-content: stretch !important;
    // flex-wrap: wrap !important;
}

.message-board {
    // height: 60%;
    width: 100% !important;
}

.laps-board {
    margin-top: 24px;
    flex: 1 1 auto;
}

.recent-session-tab {
    margin-top: 22px;
}

.recent-session-tab-mobile {
    display: none;
}

.most-laps-ranks-tab {
    margin-top: 12px;
    .n-data-table-thead {
        display: none !important;
    }
}

.online-server-board {
    display: flex;
    align-items: center;
    height: 100%;
}

.leave-height {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
}

.banner-carousel {
    width: 100%;
}

.carousel {
    border-radius: 3px;
}

.carousel-background {
    background: #99a9bf !important;
}

.leave-height-inner {
    display: flex;
    align-items: center;
    // flex-direction: column;
    flex: 1 1 auto;
    margin-top: 12px;
}

.statu-servers-content {
    width: 50% !important;
}

.statu-servers-content-event {
    .n-statistic-value__content {
        font-size: 16px !important;
        color: #454647 !important;
    }
    margin-top: 12px;
}

.card-title-container {
    width: 100%;
}
