@media screen and (max-width: 768px) {
  .card-title-container-s {
    justify-content: center;
  }
}

@media screen and (max-width: 1280px) {
  .live-map-container {
    display: block !important;
  }
  .player-list-container {
    padding-left: 0px !important;
    padding-top: 24px !important;
  }
  .live-map-scroll-container {
    margin: 0 auto !important;
  }
}

.card-title-container-s {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-title-s {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  font-size: 16px !important;
  color: #636363 !important;
}

.inner-container {
  width: 100%;
  margin-top: 24px;
}

.title-padding-bottom {
  padding-bottom: 24px;
}

.online-server-text-span {
  padding-left: 7px;
  padding-right: 7px;
}

.container-online-statu {
  font-size: 12px;
  color: #929292;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.live-map-container {
  width: 100%;
  border-radius: 4px;
  display: flex;
}

.live-map-scroll-container {
  max-width: 514px;
  border: 1px solid #e0e0e6;
}

#containerMap {
  background: #ffffff;
}

.player-list-container {
  width: 100%;
  padding-left: 24px;
}
