body {
  margin: 0px;
  background-color: #f8f8f8;
}

#app {
  font-family: "Microsoft Yahei", v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333639;
  font-size: 14px;
  line-height: 28px;
}

.n-data-table {
  font-size: 12px !important;
}
