.container {
  width: calc(100% - $padding-h * 2);
  padding: 0 12px;
  text-align: left;
}

.container-card {
  width: calc(100% - $padding-h * 2);
  padding: 0 12px;
  padding-bottom: calc($padding-h * 2);
  text-align: left;
}

.flex-card {
  display: flex;
}

.text-center {
  text-align: center;
}

.sub-text {
  font-size: 12px;
  line-height: 24px;
  color: #6e6b7b;
}

.sub-title {
  font-size: 12px !important;
  color: #6e6b7b !important;
}

.card-title {
  font-size: 18px;
}

.card-content {
  font-size: 14px;
  color: #6e6b7b;
}

.card-text-margin-right {
  margin-right: 14px;
}

.full-height {
  height: 100% !important;
}

.router-header-container {
  padding-left: 12px;
  padding-right: 12px;
}
